@import './base.css';

/* .router-link-active {
  border-bottom: 1px solid red;
} */

.router-link-active::after {
  content: '';
  display: block;
  width: 40px;
  background-color: red;
  height: 2px;
  transition: all 1s ease-in-out;
}
